# Entornos virtuales
.venv/
venv/
env/

# Archivos de Python compilados
__pycache__/
*.pyc

# Base de datos local
backend/oncoatlas.db

# Configuración de editores/IDE
.vscode/
.idea/

# Archivos de sistema de Windows
Thumbs.db
desktop.ini

